body {
    width: 125px;
    background-color: #0241A2;
    background-image: linear-gradient(rgba(255, 255, 255, .1) 1px, transparent 1px),
        linear-gradient(90deg, rgba(255, 255, 255, .1) 1px, transparent 1px);
    background-size: 20px 20px;
    color: white;
    border: 1px solid rgba(255, 255, 255, .4)
}

h3 {
    color: white;
    text-align: center;
}

button:hover {
    background-color: rgba(255, 255, 255, .15);
    border-color: white;
    color: white;
}

.container {
    display: flex;
    flex-direction: column;
    align-items: center;
    border: 1px solid white;
    padding: 15px
}